NodeRedFlow
[{"id":"248cfae3.e81026","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"abd1671b.fad09","type":"ui_group","z":0,"name":"button area","tab":"8a67a6ce.013ab8","order":1,"disp":false,"width":"6","collapse":false},{"id":"1c401c36.f7de2c","type":"ui_group","z":"","name":"chart area","tab":"8a67a6ce.013ab8","order":3,"disp":false,"width":"15","collapse":false},{"id":"c3358983.881f18","type":"ui_group","z":0,"name":"text area","tab":"8a67a6ce.013ab8","order":2,"disp":false,"width":6,"collapse":false},{"id":"8a67a6ce.013ab8","type":"ui_tab","z":0,"name":"Reutil-iZe","icon":"","disabled":false,"hidden":false,"info":"<style>\n    \n        background-image: url(\"https://seeklogo.com/images/P/partly-sunny-weather-symbo-logo-FE1CF4CAE5-seeklogo.com.gif\");\n        background-repeat: no-repeat;margin-left: 60px;\n        margin-left: 0;\n        background-size: 125px 39px;\n        background-position: 50px;\n        \n</style>"},{"id":"810c5cf4.9383f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"885e12c8.b1f3a8","type":"comment","z":"248cfae3.e81026","name":"Logo & background image","info":"","x":290,"y":20,"wires":[]},{"id":"59c62eda.89704","type":"comment","z":"248cfae3.e81026","name":"button section","info":"","x":170,"y":220,"wires":[]},{"id":"40c893ab.3e8f7c","type":"comment","z":"248cfae3.e81026","name":"search section","info":"","x":160,"y":360,"wires":[]},{"id":"934f699c.cc04d8","type":"http request","z":"248cfae3.e81026","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://129.40.117.161:9990/watson/CatManScan/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":320,"wires":[["2c91fab3.0a850e"]]},{"id":"69a98f84.bf9178","type":"ui_text_input","z":"248cfae3.e81026","name":"","label":"Enter item to search for:","tooltip":"","group":"abd1671b.fad09","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":270,"y":320,"wires":[["934f699c.cc04d8"]]},{"id":"fa19afdb.515ec8","type":"ui_template","z":"248cfae3.e81026","group":"abd1671b.fad09","name":"","order":3,"width":0,"height":0,"format":"\n\n<style>\n.md-toolbar-tools{\n        background-image: url(\"https://github.com/jorismertens/Node-Red_API_Dashboard/blob/master/images/Reutilize_logo.png?raw=true\");\n        background-repeat: no-repeat;margin-left: 10px;\n        margin-left: 5;\n        background-size: 70px 40px;\n        background-position: 100px;\n     \n    }\n    .md-toolbar-tools h1{\n        text-align: right;\n        width: 250px;\n    }\n    \n    \n\n    \n    body {\n        background-image: url(\"https://github.com/jorismertens/Node-Red_API_Dashboard/blob/master/images/wallpaper.jpg?raw=true\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":240,"y":60,"wires":[[]]},{"id":"ab6da6d3.3b449","type":"ui_template","z":"248cfae3.e81026","group":"1c401c36.f7de2c","name":"","order":5,"width":"15","height":"4","format":"<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":280,"wires":[[]]},{"id":"8ea8d440.730fd8","type":"ui_button","z":"248cfae3.e81026","name":"","group":"abd1671b.fad09","order":1,"width":0,"height":0,"passthru":false,"label":"Show Catalog Items","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Go!","payloadType":"str","topic":"","x":260,"y":260,"wires":[["ae4fffd9.3d8d7"]]},{"id":"ae4fffd9.3d8d7","type":"http request","z":"248cfae3.e81026","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://129.40.117.161:9990/watson/CatManList","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":260,"wires":[["2c91fab3.0a850e"]]},{"id":"2c91fab3.0a850e","type":"json","z":"248cfae3.e81026","name":"","property":"payload","action":"obj","pretty":false,"x":690,"y":280,"wires":[["ac9082c4.9bc8f"]]},{"id":"ac9082c4.9bc8f","type":"template","z":"248cfae3.e81026","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>Item description:</th><th>Quantity available:</th><th>Price:</th></tr>\n{{#payload}}\n{{#DFH0XCP1}}\n{{#CA_INQUIRE_REQUEST}}\n{{#CA_CAT_ITEM}}\n{{#CA_DESCRIPTION}}\n<tr><td>{{CA_DESCRIPTION}}</td><td>{{IN_STOCK}}</td><td>{{CA_COST}}</td></tr>\n{{/CA_DESCRIPTION}}\n{{/CA_CAT_ITEM}}\n{{/CA_INQUIRE_REQUEST}}\n{{/DFH0XCP1}}\n{{/payload}}\n</table>","output":"str","x":860,"y":280,"wires":[["ab6da6d3.3b449"]]}]
